# Medium Python Course-Part 03
Data Types | Data Structures

Python is a dynamically typed programming language. This means that it is not necessary to explicitly define a type of a variable. In Python the type of the variable is inferred automatically as soon as a value is assigned to the variable.

# Numerical Data Types

In Python numerical data types are:
* integers: int and long 
* point numbers: float
* booleans numbers: bool
* complex numbers: complex

In [3]:
x=5 
print(type(x)) #x is of type int, because an integer has been assigned to it
x= 3.8
print(type(x)) #now x is of type float, because a floating-number has been assigned to it
x= True
print(type(x)) #now x is of type bool, because a boolean has been assigned to it
x= (3 + 6j)
print(type(x)) #now x is of type complex, because a complex number has been assigned to it

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

## Arithmetic Operations

Arithmetic operations are:
* Negation: -x
* Addition: x+y
* Subtraction: x-y
* Multiplication: x*y
* Division: x/y
* Power: x**y
* Remainder of integer division: x%y
* Integer division: x//y

In [7]:
x=7
print("Variable x: ",x)

y=3
print("Variable y: ",y)

a=-x
print("Negation -x: ",a)

b=x+y
print("Addition x+y: ",b)

c=x-y
print("Subtraction x-y: ",c)

d=x*y
print("Multiplication x*y:",d)

e=x/y
print("Division x/y:",e)

f=x**y
print("Power x**y:",f)

g=x%y
print("Remainder of integer division x%y:",g)

h=x//y
print("Integer division x//y:",h)

Variable x:  7
Variable y:  3
Negation -x:  -7
Addition x+y:  10
Subtraction x-y:  4
Multiplication x*y: 21
Division x/y: 2.3333333333333335
Power x**y: 343
Remainder of integer division x%y: 1
Integer division x//y: 2

## Comparison Operators
For the data types int, long, float and boolean the following comparison-operators are defined:
* '=='	If the values of two operands are equal, then the condition becomes true
* '!='	If values of two operands are not equal, then condition becomes true
* '>'	    If the value of left operand is greater than the value of right operand, then condition becomes true
* '<'	    If the value of left operand is less than the value of right operand, then condition becomes true
* '>='	If the value of left operand is greater than or equal to the value of right operand, then condition becomes true
* '<='	If the value of left operand is less than or equal to the value of right operand, then condition becomes true

In [10]:
a=4
b=7.2
c=-6.1
d=4.0

print("a==b: %s"%(a==b))
print("a==d: %s"%(a==d))
print("a!=d: %s"%(a!=d))
print("a<=d: %s"%(a<=d))
print("b>c : %s"%(b>c))
print("c>d : %s"%(c>d))

a==b: False
a==d: True
a!=d: False
a<=d: True
b>c : True
c>d : False

## Boolean Types

The boolean type belongs to the numeric types, all arithmetics operators can be applied to it. The value of a boolean variable can only be True (1) or False (0). In addition to the arithmetic operations for boolean, also the logical operators not , and (&) and or(|) are defined.

In [13]:
a=4
b=7.2
c=-6.1
d=4.0

ef = (a==b) or (a==d)
print(ef)

gh = (a==b) and (a==d)
print(gh)
print(not gh)

True
False
True

In [14]:
ef = (a==b) | (a==d)
print(ef)

gh = (a==b) & (a==d)
print(gh)
print(ef != gh)

True
False
True

## Cast Numeric Types

The type of a variable x can be casted into a new one by typname(x)

In [21]:
x=3
print("Initial type of x: %s"%type(x))
x=float(x)
print("Type after float cast: %s"%type(x))

Initial type of x: <class 'int'>
Type after float cast: <class 'float'>

In [22]:
x=3
print("Type after int declaration: %s"%type(x))

Type after int declaration: <class 'int'>

In [24]:
x=3.9
print("Type after float declatation: %s"%type(x))

Type after float declatation: <class 'float'>

In [26]:
x=int(x)
print("Type after after int cast: %s"%type(x))

Type after after int cast: <class 'int'>

In [27]:
x = bool(x)
print("Type after boolean cast: %s"%type(x))

Type after boolean cast: <class 'bool'>

# Sequential Data Types

Sequential Data Types in Python contain sequences of elements. The following types belong to the category of sequential data types:
* string
* tuple
* list
* xrange objects
* buffer
* bytearray

## String

A string is a sequence of characters. Strings can be defined within single, double or triple quotes.

In [32]:
str1='my first string'
print(str1)
print(type(str1))

my first string
<class 'str'>

In [33]:
str2="my second string"
print(str2) 
print(type(str2))

my second string
<class 'str'>

In [34]:
str3="""using triple quotes
strings can be defined 
over multiple lines"""
print(str3)
print(type(str3))

using triple quotes
strings can be defined
over multiple lines
<class 'str'>

### Accessing string components

The components of strings are characters. Each component of a string-variable can be accessed by his index or index range. In Python the first index of a data type, is always 0.

In [45]:
print("First element of str1 is %s"%str1[0])

First element of str1 is m

In [46]:
print("The first 2 elements of str1 are: %s"%str1[:2])

The first 2 elements of str1 are: my

In [47]:
print("The subsequence containing the 3rd, 4th, 5th, 6th, 7th an 8th element of s3 are: %s"%str1[2:8])

The subsequence containing the 3rd, 4th, 5th, 6th, 7th an 8th element of s3 are:  first

In [50]:
print("The last character of str3 is %s"%str1[-1])
print("The last 6 characters of str3 are: %s"%str1[-6:])

The last character of str3 is g
The last 6 characters of str3 are: string

### String operations

In the following some operations can be executed on string objects

| Operation | Result | 
| --- | --- | 
| x in s | True if an item of s is equal to x, else False | 
| x not in s | False if an item of s is equal to x, else True | 
| s + t | the concatenation of s and t | 
| s \* n, n \* s | equivalent to adding s to itself n times | 
| s.index(x) | index of the first occurrence of x in s | 
| s.count(x) | total number of occurrences of x in s |
| s[i] | i.th item of s, origin 0 | 
| s[i:j] | slice of s from i to j | 
| s[i:j:k] | slice of s from i to j with step k | 
| len(s) | length of s | 
| min(s) | smallest item of s | 
| max(s) | largest item of s |

### Concatenate strings

As shown in the code snippet below:
* `\t` yields a tab shift
* `\n` yields a line -break

In [53]:
print((str1 + ' ' + str2))
print((str1 + ' \t' + str2))
print((str1 + ' \n' + str2))

my first string my second string
my first string 	my second string
my first string
my second string

### Determine the length of a string

In [54]:
len(str1)

15

### Index of first occurence of characters in a string

In [56]:
print(str1.index('first'))
print(str1.index('string'))

3
9

### Replicate strings

In [58]:
'abcdefg ' *5

'abcdefg abcdefg abcdefg abcdefg abcdefg '

### Count fequency of characters in a string

In [60]:
print(str1.count('first'))
print(str1.count('i'))

1
2

###  Characters are contained in strings

In [62]:
print(str1)
print('fi' in str1)
print('ng' in str1)
print(' ' in str1)
print('\n' in str1)
print('\n' in str3)

my first string
True
True
True
False
True

## Lists

In Python lists can contain elements of different type. Same as the type string, the type list also belongs to the category of sequential types. Lists can be generated for example by writing the elements of the list comma separated into square brackets

In [65]:
li1=[1,2,3.4,"string1",False,['a','b','c']]
print(li1)
print(type(li1))

[1, 2, 3.4, 'string1', False, ['a', 'b', 'c']]
<class 'list'>

Empty lists can be generated by mylist = list() | mylist = []

In [66]:
li2=list() 
print(li2)
print(type(li2))

[]
<class 'list'>

Numeric lists can be generated by the function

range([start,]stop[,step])

In [180]:
li3=list(range(20))
print(li3)
print(type(li3))
li4=list(range(30,39,2))
print(li4)
print(type(li4))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
<class 'list'>
[30, 32, 34, 36, 38]
<class 'list'>

### Accessing list elements

Same as with strings, each component of a list, can be accessed by a index. Multiple list elements can be sliced by an index range.

In [72]:
print(li1)
print(li1[2])
print(li1[-2])
print(li1[1:4])
print(li1[3:])

[1, 2, 3.4, 'string1', False, ['a', 'b', 'c']]
3.4
False
[2, 3.4, 'string1']
['string1', False, ['a', 'b', 'c']]

The last element of list li1 is a list itself. Elements of the list can be accessed as follows

In [73]:
print(li1[-1][1])

b

### Editing Lists

The following table summarizes the most important methods on lists

| Method | Result | 
| --- | --- | 
| `list.insert(i,x)` | Insert `x` at position `i`. | 
| `list.remove(x)` | Remove the first item from the list whose value is `x`. It is an error if there is no such item. | 
| `list.append(x)` | Add an item to the end of the list | 
| `list.extend(L)` | Extend the list by appending all the items in the given list | 
| `list.pop([i])` | Remove the item at position `i` in the list, and return it. If no index is specified, the last element is removed and returned. | 
| `list.index(x)` | Return the index in the list of the first item whose value is `x`. It is an error if there is no such item. | 
| `list.count(x)` | Return the number of times `x` appears in the list. | 
| `list.reverse()` | Reverse the elements of the list | 
| `list.sort()` | Sort the items of the list |

#### Editing a single list element

In [78]:
li5=[6,8,10]
print(li5)

[6, 8, 10]

Assign a new value to the third element

In [79]:
li5[2]=20
print(li5)

[6, 8, 20]

Assign a new list to the third element

In [82]:
li5[2]=[21,22]
print(li5)

[6, 8, [21, 22]]

#### Concatenate and append lists

New elements can be attached to the end of the list by the append function:

In [95]:
li6=[]
li6.append('a') 
print(li6)
li6.append('b') 
print(li6)

['a']
['a', 'b']

If the argument of append(anotherlist) is another list, then not the elements of anotherlist are attached to the list. Instead a single element, which is a list, is appended. Using the extend(anotherlist)-function attaches the single elements of anotherlist to the given list.

In [96]:
li6.append(['c','d','e'])
print(li6)
print(len(li6))

['a', 'b', ['c', 'd', 'e']]
3

The Pop() function returns and removes the element at the last index of the list

In [97]:
print("pop() function:  ",li6.pop())
print("After pop() last element is removed:  ",li6)
print(li6)

pop() function:   ['c', 'd', 'e']
After pop() last element is removed:   ['a', 'b']
['a', 'b']

In [98]:
li6.extend(['c','d','e','f'])
print("List extended: ",li6)
print("Another list extension: ",li6 + ['g','h','i'])

List extended:  ['a', 'b', 'c', 'd', 'e', 'f']
Another list extension:  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

#### Insert elements

Insert 'A' at first position and insert a list at second position

In [100]:
li6.insert(0,'A') 
print(li6)
li6.insert(1,['B','C']) 
print(li6)

['A', 'A', ['B', 'C'], 'a', 'b', 'c', 'd', 'e', 'f']
['A', ['B', 'C'], 'A', ['B', 'C'], 'a', 'b', 'c', 'd', 'e', 'f']

#### Remove elements

Remove the element at index 1 an remove the first 5 elements

In [103]:
print(li6)
li6[1:2]=[] 
print(li6)

['A', ['B', 'C'], 'A', ['B', 'C'], 'a', 'b', 'c', 'd', 'e', 'f']
['A', 'A', ['B', 'C'], 'a', 'b', 'c', 'd', 'e', 'f']

In [104]:
li6[:5]=[] 
print(li6)

['c', 'd', 'e', 'f']

### String to list

When working with text, it is usual that the text is stored in a string-variable. Since many text-processing tasks are based on word statistics, the string must be split into a list of words. This process is called tokenization and can be realized by using the split() method, as shown in the following code cell:

In [106]:
myString="""Python is an interpreted, high-level and general-purpose programming language. Python's design philosophy
emphasizes code readability with its notable use of significant indentation. Its language 
constructs and object-oriented approach aim to help programmers write clear, logical code for small and 
large-scale projects
"""
myList=myString.split()
print(myList)

['Python', 'is', 'an', 'interpreted,', 'high-level', 'and', 'general-purpose', 'programming', 'language.', "Python's", 'design', 'philosophy', 'emphasizes', 'code', 'readability', 'with', 'its', 'notable', 'use', 'of', 'significant', 'indentation.', 'Its', 'language', 'constructs', 'and', 'object-oriented', 'approach', 'aim', 'to', 'help', 'programmers', 'write', 'clear,', 'logical', 'code', 'for', 'small', 'and', 'large-scale', 'projects']

The tokens in the list can contain special characters. Often it is required that the words are normalized , that all letters are represented in lowercase and without special characters. These can be removed by applying the strip() method and the lower() method.
Both processing steps can be implemented as shown below in the code below:
The code contains a list comprehension, which function is explained in Python Course-Part 04-Control Structures

In [107]:
myNormList=[word.strip('.,!?:\"()').lower() for word in myList]
print(myNormList)

['python', 'is', 'an', 'interpreted', 'high-level', 'and', 'general-purpose', 'programming', 'language', "python's", 'design', 'philosophy', 'emphasizes', 'code', 'readability', 'with', 'its', 'notable', 'use', 'of', 'significant', 'indentation', 'its', 'language', 'constructs', 'and', 'object-oriented', 'approach', 'aim', 'to', 'help', 'programmers', 'write', 'clear', 'logical', 'code', 'for', 'small', 'and', 'large-scale', 'projects']

If elements of a list, shall be written into a line of a file. The other way around, is also required. The write() function, as introduced in Python Course-Part 02-Getting Started with Python| Basics. The code cell demonstrates the conversion of a list into a comma separated string. The numeric elements of the list must be converted into string variables, before they are joined into a string.

In [113]:
myNumList=list(range(21))
csvString=','.join(str(e) for e in myNumList)
print("List:",myNumList)
print("List type:",type(myNumList))
print("csvString:",csvString)
print("csvString type:",type(csvString))

List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
List type: <class 'list'>
csvString: 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
csvString type: <class 'str'>

## Tupels

Tuples are immutable lists. This means that they can not be modified after creation. Their immutable character also protects data against undesired changes. Tuples can be generated similar to lists,  their elements are surrounded by parentheses instead of square brackets.

In [115]:
tup1=(2,4.6,8,10,'a','b','c','a tuple',(1,2,3,4,5))
print(tup1)
print(type(tup1))

(2, 4.6, 8, 10, 'a', 'b', 'c', 'a tuple', (1, 2, 3, 4, 5))
<class 'tuple'>

Tuple elements can be accessed in the same way as a list element. For example to access the first 5 elements of the tuple

In [117]:
print(tup1[:5])

(2, 4.6, 8, 10, 'a')

Any attempt to modify a tuple yields an error, as shown below:

In [118]:
tup1[1]=56

TypeError: 'tuple' object does not support item assignment

# Sets

A set is a collection of distinct objects, which is both unordered and unindexed. No object can be contained more than once in a set. Sets are written with curly brackets.

## Generate sets

An empty set can be generated by

In [119]:
mySet=set()
print(mySet)

set()

For this the list object "se" is past as argument to the set() function. For example in text processing the text is first available as a long string variable. Using the split() method the string is segmented into a list of words.

In [120]:
se="hello i am a small text i am a big text " 
seWord=se.split() 
print(se)
print(len(se))

hello i am a small text i am a big text
40

In [121]:
vocab=set(seWord) 
print(vocab)
print(len(vocab))

{'am', 'big', 'a', 'small', 'i', 'hello', 'text'}
7

## Operations on sets

Copies of sets can be generated by set.copy(). The methods set.add(element) and set.discard(element) can be applied to add and remove single elements into/from a set. For removing all elements of a set set.clear() can be applied.

In [123]:
vocab2=vocab.copy()
print(vocab2)
vocab2.add('new1')
print(vocab2)
vocab2.add('new2')
print(vocab2)
vocab2.remove('new1')
print(vocab2)

{'i', 'am', 'hello', 'text', 'big', 'a', 'small'}
{'i', 'new1', 'am', 'hello', 'text', 'big', 'a', 'small'}
{'a', 'new1', 'am', 'big', 'new2', 'small', 'i', 'hello', 'text'}
{'a', 'am', 'big', 'new2', 'small', 'i', 'hello', 'text'}

### Intersection of two sets

All elements, which are contained in the first and in the second set:

In [126]:
vocabInter=vocab2&vocab
print(vocabInter)

{'am', 'big', 'a', 'small', 'i', 'hello', 'text'}

### Union of two sets

All elements, which are contained in the first or in the second set:

In [125]:
vocabUn=vocab2|vocab
print(vocabUn)

{'am', 'big', 'a', 'new2', 'small', 'i', 'hello', 'text'}

### All elements of the first set, except the ones, which are contained also in the second set

In [127]:
vocabEx=vocab^vocab2
print(vocabEx)

{'new2'}

### Check the membership

In [129]:
print('i' in vocab2)
print('sunshine' in vocab2)

True
False

### Check subset

In [131]:
print(vocab2<vocab)  #true if vocab 2 is subset of vocabulary
print(vocab2<=vocab) #true if vocab 2 is real subset of vocabulary (not equal)
print(set(['a','text']) <= vocab2)

False
False
True

### Convert set to a list

Set elements can not be accessed by an index. If access to elements is required the set is usually transformed to a list. This can be implemented as follows:

In [137]:
vocabList=list(vocab2)
print(vocabList)
print(vocabList[6])

['a', 'am', 'big', 'new2', 'small', 'i', 'hello', 'text']
hello

## Immutable sets - frozensets

Besides the data type set there exists a second type related to sets - the frozenset. Sets of type frozenset are immutable, it's content can not be modified after it is created.

In [133]:
frozSet=frozenset(['a','b','c','d','e'])
print(frozSet)

frozenset({'a', 'd', 'b', 'c', 'e'})

The attempt to modify a frozenset yields an error:

In [134]:
frozSet.add('f')

AttributeError: 'frozenset' object has no attribute 'add'

#  Dictionary

Assume that a set of cars shall be described by their brand, model, fuel type, and year. One option to model this information in Python is to allocate for each car a list, which contains the mentioned parameters as components. Sets of cars could then be modelled as lists of lists.

In [138]:
c1=['Tesla','Model S','ELECTRIC',2020]
print(c1)
c2=['Audi','e-Tron','ELECTRIC',2021]
print(c2)
cars=[c1,c2]
print(cars)

['Tesla', 'Model S', 'ELECTRIC', 2020]
['Audi', 'e-Tron', 'ELECTRIC', 2021]
[['Tesla', 'Model S', 'ELECTRIC', 2020], ['Audi', 'e-Tron', 'ELECTRIC', 2021]]

If a certain parameter,  year, shall be queried, it must be known at which index of the car-vector of this parameter is stored. This is a drawback, in particular, if there are much more parameters/components in the lists. It would be nice if parameter-values can be queried by the name of the parameter. This feature is provided by the Python data type dictionary.

##  Generate dictionary

Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and does not allow duplicates.

The same information as modelled with lists in the example above, is now modelled with dictionaries. An empty dictionary is defined by curly brackets myDict={} or by myDict=dict(). Non-empty dictionaries contain within the curly brackets an arbitrary number of key-value-pairs. These pairs are separated by commas. Keys and values are separated by a colon: myDict={key1:value1,key2:value2,key3:value3}

In [161]:
car1 = {"brand": "Tesla",
        "model": "Model S",
        "fueltype": "ELECTRIC",
        "year": 2020,
        "colors": ["black", "white", "green"]}

print(car1)
type(car1)

{'brand': 'Tesla', 'model': 'Model S', 'fueltype': 'ELECTRIC', 'year': 2020, 'colors': ['black', 'white', 'green']}

dict

In [156]:
car2 = {"brand": "Audi",
        "model": "e-Tron",
        "fueltype": "ELECTRIC",
        "year": 2021 }

print(car2)
type(car2)

{'brand': 'Audi', 'model': 'e-Tron', 'fueltype': 'ELECTRIC', 'year': 2021}

dict

## Accessing Dictionary keys and values

The number of key value pairs in a dictionary can be printed by len(dictname)

In [162]:
print(len(car1))
print(len(car1['colors']))

5
3

A list of all keys and a list of all values of a dictionary can be queried by the dict.keys() and dict.values() functions.

In [163]:
print("Keys:\n",list(car1.keys()))
print("Values:\n",list(car1.values()))

Keys:
 ['brand', 'model', 'fueltype', 'year', 'colors']
Values:
 ['Tesla', 'Model S', 'ELECTRIC', 2020, ['black', 'white', 'green']]

A list of all key value pairs is returned by the dict.items() function

In [164]:
print(list(car1.items()))

[('brand', 'Tesla'), ('model', 'Model S'), ('fueltype', 'ELECTRIC'), ('year', 2020), ('colors', ['black', 'white', 'green'])]

A value for a given key can be obtained by writing the key-name in square brackets:

In [165]:
car1['model']

'Model S'

## Modifying Dictionaries

Duplicate (year) values will overwrite existing values

In [171]:
car3 = {"brand": "VW",
        "model": "ID.4",
        "fueltype": "ELECTRIC",
        "year": 2019,
        "year": 2021,
        "colors": ["yellow", "black", "purple"]}

print(car3)
type(car3)

{'brand': 'VW', 'model': 'ID.4', 'fueltype': 'ELECTRIC', 'year': 2021, 'colors': ['yellow', 'black', 'purple']}

dict

All items (key value-pairs) are removed from the dictionary by dict.clear() and a single key value pair can be removed by del  key of the pair, which shall be removed.

In [172]:
print(car3)
print(len(car3))
del car3['colors']
print("colors deleted")
print(car3)
print(len(car3))

{'brand': 'VW', 'model': 'ID.4', 'fueltype': 'ELECTRIC', 'year': 2021, 'colors': ['yellow', 'black', 'purple']}
5
colors deleted
{'brand': 'VW', 'model': 'ID.4', 'fueltype': 'ELECTRIC', 'year': 2021}
4

A list of all methods for dictionaries is available at the official Python documentation (https://docs.python.org/3.8/library/stdtypes.html#mapping-types-dict)

## Save dictionaries persistently

For dictionaries, which shall be saved persistently and later be loaded into a program again, the .json file-format is suitable.

In [181]:
print(car3)

{'brand': 'VW', 'model': 'ID.4', 'fueltype': 'ELECTRIC', 'year': 2021}

### Write dictionary to json file

In [182]:
import json
with open("03_carFile.json","w") as f:
    json.dump(car3,f)

### Read dictionary from .json file

In [176]:
with open("03_carFile.json","r") as f:
    mycar=json.load(f)
print(mycar)

{'brand': 'VW', 'model': 'ID.4', 'fueltype': 'ELECTRIC', 'year': 2021}